<header class="app-header">
  <h1>Smart Booking</h1>
  <nav class="nav-bar">
    <a routerLink="/dashboard" *ngIf="auth.isLoggedIn()">Dashboard</a>
    <a routerLink="/book" *ngIf="auth.isLoggedIn()">Book</a>
    <a routerLink="/login" *ngIf="!auth.isLoggedIn()">Login</a>
    <a routerLink="/register" *ngIf="!auth.isLoggedIn()">Register</a>
    <a routerLink="/my-bookings" *ngIf="auth.isLoggedIn()">📄 My Bookings</a>
    <a routerLink="/notifications" *ngIf="auth.isLoggedIn()">🔔 Notifications</a>
    <a (click)="logout()" *ngIf="auth.isLoggedIn()">Logout</a>
  </nav>
</header>
<hr />
<main>
  <router-outlet></router-outlet>
</main>
